@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

label, .input-control {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: red;
}
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    background: #aeaeae;
    margin: 0 auto;
    padding: 1rem;
}

.calculator-form {
    background-color: rgb(252, 243, 255);
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.8rem;
}

.check {
    width: 10rem;
    padding: 1rem;
    text-align: center;
    border-radius: 0.2rem;
    border: 0;
    box-shadow: 0 0 10px #000;

}

.form-group, label, .input-control {
    display: block;
}

.input-control {
    padding: 0.4rem 0.2rem;
    margin: 0.6rem 0;
    width: 100%;
}