.full-screen {
    width: 100%;
    height: 100vh;
    background: url(https://img.freepik.com/free-vector/abstract-colorful-flow-shapes-background_23-2148258092.jpg?size=626&ext=jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;

}

.dark-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}